---
---

/* Colors */
$background: #FFF;
$background-secondary: #F2EFF4;
$primary:   #FDFFC1;
$secondary: #AAA1B2;

$serif: Ovo, serif;
$sans-serif: Muli, sans-serif;

/* Body border */
$h-margin: 4em !default; $v-margin: 1.5em !default;

/* Navbar */
$navbar-height: 40px !default;
$nav-text-size: 1rem !default;

/*** Global ***/
// Media Query Ranges
$xs: 450px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$xl: 1400px !default;

$sm-h-margin: 1.5em; $sm-v-margin: 1.5em;

// Flowtext
$range : $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

html, body {
  height: 100%;
  background-color: $background;
}
body {
  max-width: $xl;
  margin-left: auto; margin-right: auto;
}

.clear { clear: both; }

/* Navigation */
header {
  @media (min-width: $xs) {
    &:after {
      display: block;
      border-bottom: 2px solid $background-secondary;
      width: 100%;
      content: "";
    }
  }
  font-size: $nav-text-size;
  margin:    $v-margin $h-margin;
  h1 {
    margin:      0;
    font-size:   1.2em;
    height:      $navbar-height;
    line-height: $navbar-height;
    display:     inline-block;
  }
  nav {
    float:right;
    ul {
      list-style:  none;
      display:     inline-block;
      height:      $navbar-height;
      line-height: $navbar-height;
      padding: 0;  margin: 0;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      text-decoration: none;
      padding-left: 1em; padding-right: 1em;
    }
  }

  /* Tiny screens */
  @media (max-width: $xs) {
    h1 { display: block; text-align: center; font-size: 1.5em; }
    nav {
      font-size: 1.2em;
      &:before, &:after {
        display: block;
        background: #fcfcfc;
        height: 2px;
        width: 100%;
        content: "";
        margin-top: 1em;
      }
      display: block; float: none;
      text-align: center;
      ul { width: 100%; padding-top: 0.5em; padding-bottom: 0.5em;}
      li {
        display: block;
        width: 100%;
      }
      a {
        padding-left: 0;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
    }
  }
}

/* Typography */
body {
  font: 18px/1.2em $sans-serif;
}
header {
  a {
    color: #222;
    font-weight: bold;
    &:hover {
      color: #666;
    }
  }
}
main {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    //font-family: $serif;
  }
  h1 {
    &:before { content: "–"; }
    &:after  { content: "–"; }
  }
  h1, h2.inline {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  h2.inline {
    &:after { content: ":"; }
    display: inline-block;
    padding-right: 1em;
  }
  @media (max-width: $xs) {
    h1 { text-align: center; font-size: 1.2em; }
  }
}

.flow-text {
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }
  line-height: 1.2em;

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}

.big-flow-text {
  font-weight: normal;
  @extend .flow-text;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.5rem * (1 + (.05 * $i));
    }
    $i: $i + 1;
  }
}

// Make icons lighter than text TODO
// .fa::before { color: lighten(currentColor, 20%); }


/* General */
section, header, footer {
  margin: $v-margin $h-margin;
}
footer {
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  &:before {
      display: block;
      border-top: 2px solid $background-secondary;
      padding-bottom: 0.8em;
      height: 2px;
      width: 100%;
      content: "";
    }
}
section {
  padding-bottom: 2em;
  &:last-of-type { padding-bottom: 0; }
}
i.fa {
  padding-right: 0.3em;
}
.squeeze-top { margin-top: -1em; }
.js-only {
  display: none;
}

/* Sections */
section.intro {
  p {
    font-family: $serif;
    @extend .big-flow-text;
  }
  em {
    font-style: normal;
    color: $secondary;
  }
}

nav.inline { display: inline-block; }
ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  font-size: 0.8em;
}
li {
  display: inline-block;
  margin-left: 1em; margin-right: 1em;
}
a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

#contact-list, #meetup-list {
  @extend .squeeze-top;
  h2  { @extend .inline; }
  nav { @extend .inline; }
}

/* Posts */
.year-header {
  padding-top: 2em;
  &:first-of-type { padding-top: inherit; }
}

dl.posts {
  dt {
    a { display: inline-block; }
    .date {
      font-size: 0.8em;
      margin-left: 1em;
    }
    display: block;
  }
  dd {
    display: inline-block;
    &.category {
      font-size: 0.8em;
    }
    &.tags {
      margin-left: 1em;
      font-size: 0.8em;
      color: $secondary;
      .fa::before { color: lighten($secondary, 20%); }
    }
    &.excerpt {
      display: block;
    }
  }
}

/* Search */
.search input {
  padding: 5px;
}

dl.search-results {
  dt {
    margin-top: 1em;
    &:first-of-type { margin-top: 2em; }
  }
}
/* Profile */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-picture {
  // fallback (for small screens)
  @extend .center-block;
  border-radius: 5px;
  max-width: 250px;

  // special screen sizes
  @media only screen and (min-width: $small-screen) { max-width: 400px; }
  @media only screen and (min-width: $large-screen) {
    float: right;
    padding-left: 1em;
  }
}

/* Portfolio */
.full-width {
  // Add margin to header
  h1 {
    margin-left: $h-margin; margin-right: $h-margin;
    @media (max-width: $small-screen) {
      margin-left: $sm-h-margin; margin-right: $sm-h-margin;
    }
  }
  // No margin on other content
  margin-left: 0;
  margin-right: 0;
}
#portfolio { @extend .full-width; }
.tile {
  margin: 0;
  height: 100%;
  width: 50%;
  @media (max-width: $small-screen) { width: 100%; }
  @media (min-width: $large-screen) { width: 33.33%; }
  float: left;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    bottom: 0; left: 0;
    visibility: hidden;
    background: rgba(255,255,255,0.5);
    width: 100%;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s linear;
  }
  .detail-content {
    padding: 1.5em 1.5em;
  }
  .name, .description {
    padding-top: 0;
    margin-top: 0;
    display: inline-block;
  }
  .technologies {
    display: block;
    list-style: none;
    padding-left: 0;
  }
  .technology {
    margin-left: 0; margin-right: 0;
    background: rgba(255,255,255,0.25);
    border: 1px solid #CCC;
    padding: 0em 0.5em;
    border-radius: 4px;
    letter-spacing: 1px;
  }

  &:hover {
    .overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media (max-width: $small-screen) {
  header, section, footer {
    margin: $sm-v-margin $sm-h-margin;
  }
}
