/*******************
| SOLARIZED COLORS |
+------------------+
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

from http://ethanschoonover.com/solarized
*******************/

/*******************************
| Small screen options:
|
|   @media handheld, only screen 
|   and (max-width: 767px) 
 *******************************/

@media only screen {
    body, html {
        color: #eee8d5;             /* $base2 */
        font-size: 18px;
        font-family: "PT Sans", Helvetica, Arial, sans-serif;
        height: 100%;
        background: #002b36;        /* $base03 */
        margin: 0;
    }


    /* Headings */
    h1, h2, h3, h4, h5, h6, title { 
        font-family: "Arvo", Georgia, Times, serif; 
        color: #839496;             /* $base0 */
    }
    h1 { 
        text-align: right; 
        padding-right: 1em;
    }
    /* On normal screens, right-align h1 headings */
    /* On small screens, center h1 headings */
    @media handheld, only screen and (max-width: 767px) {
        h1 { text-align: center; }
    }

    h1.title { 
        font-size: 300%;
        color: #fdf6e3;             /* $base3 */
        text-align: center;
    }

    img.title {
        display: block;
        margin: 0 auto;
        padding-top: 50px;
    }
    .subtitle {
        font-size: .5em;
        font-weight: 300;
        color: #839496;
    }


    /* Links */
    a:link { color: #268bd2; }      /* $blue */
    a:hover { color: #859900; }     /* $green */
    a:active { color: #d33682; }    /* $magenta */
    a:visited { color: #6c71c4; }   /* $violet */

    dt a { text-decoration: none; }
    dt img { max-height: .8em; padding: 0 0.5em;}
    .connect_link img { 
        display:inline-block;
        margin-top: 1em;
        max-height: 50px; 
        margin-right: 10px; 
    }
    /* On normal screens, left-align connect buttons */
    /* On small screens, center connect buttons */
    .connect_buttons { text-align: left; }
    @media handheld, only screen and (max-width: 767px) {
        .connect_buttons { text-align:center; }
    }


    /* Footer */
    #footer {
        padding-top: 4em;
        padding-bottom: 1em;
        color: #586e75;             /* $base01 */
        font-size: 70%;
    }
}